.gameboard {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d2dfed+0,a6c0e3+0,afc7e8+14,afc7e8+14,c8d7eb+35,bad0ef+66,99b5db+88,799bc8+100 */
  background: #d2dfed; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #d2dfed 0%,
    #a6c0e3 0%,
    #afc7e8 14%,
    #afc7e8 14%,
    #c8d7eb 35%,
    #bad0ef 66%,
    #99b5db 88%,
    #799bc8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #d2dfed 0%,
    #a6c0e3 0%,
    #afc7e8 14%,
    #afc7e8 14%,
    #c8d7eb 35%,
    #bad0ef 66%,
    #99b5db 88%,
    #799bc8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #d2dfed 0%,
    #a6c0e3 0%,
    #afc7e8 14%,
    #afc7e8 14%,
    #c8d7eb 35%,
    #bad0ef 66%,
    #99b5db 88%,
    #799bc8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#799bc8',GradientType=0 ); /* IE6-9 */
}

.centerboard {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b0d4e3+0,88bacf+100;Grey+3D+%233 */
  background: rgb(176, 212, 227); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(176, 212, 227, 1) 0%,
    rgba(136, 186, 207, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(176, 212, 227, 1) 0%,
    rgba(136, 186, 207, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(176, 212, 227, 1) 0%,
    rgba(136, 186, 207, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 ); /* IE6-9 */
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  /* right: 0; */
  right: 2%;
  top: 8px;
  /* width: 33px; */
  width: 33px;
}
